<!DOCTYPE html>
<html lang="en">
  <script>
		function includeHTML() {
		  var z, i, elmnt, file, xhttp;
		  /*loop through a collection of all HTML elements:*/
		  z = document.getElementsByTagName("*");
		  for (i = 0; i < z.length; i++) {
			elmnt = z[i];
			/*search for elements with a certain atrribute:*/
			file = elmnt.getAttribute("include-html");
			if (file) {
			  /*make an HTTP request using the attribute value as the file name:*/
			  xhttp = new XMLHttpRequest();
			  xhttp.onreadystatechange = function() {
				if (this.readyState == 4) {
				  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
				  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
				  /*remove the attribute, and call this function once more:*/
				  elmnt.removeAttribute("include-html");
				  includeHTML();
				}
			  }      
			  xhttp.open("GET", file, true);
			  xhttp.send();
			  /*exit the function:*/
			  return;
			}
		  }
		};
  </script>
  <head>
    <title>Uptown - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
	  <div include-html="./header.html"></div>
    
    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Our Blog</h1>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="#">Những loại cây xanh thích hợp đặt trong phòng ngủ</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">July. 24, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_1.jpg');">
	              </a>
                <p>Trang trí phòng ngủ với những loại cây trồng trong nhà vừa giúp thanh lọc bầu không khí, vừa tạo cho gian phòng những mảng xanh đẹp mắt giúp bạn gần gũi hơn với thiên nhiên.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="#">5 tips giúp bắt đầu một ngày mới với tâm trạng tích cực</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">July. 24, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_2.jpg');">
	              </a>
                <p>Tâm trạng là yếu tố có khả năng ảnh hưởng rất lớn đến thành quả công việc của bạn trong cả một ngày. Làm cách nào để bắt đầu ngày mới một cách tích cực? Hãy cùng Uptown đi tìm câu trả lời thông qua phần nội dung dưới đây:</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="#">Cải tạo phòng ngủ - Nên bắt đầu từ đâu?</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">July. 24, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_3.jpg');">
	              </a>
                <p>Bạn muốn thay đổi diện mạo cho căn phòng ngủ trở nên xinh xắn, nhiều tiện ích hơn nhưng chưa biết bắt đầu từ đâu? Vậy thì bài viết này chính là dành riêng cho bạn. Hãy cùng Uptown khám phá những vật dụng vừa hữu ích vừa có cả công năng trang trí phòng ngủ, mang lại cho bạn không gian nghỉ ngơi thật xinh xắn nhé!</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="#">Khám phá khung giờ học tập giúp bạn tiếp thu bài hiệu quả nhất</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">July. 24, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_4.jpg');">
	              </a>
                <p>Bạn có biết, việc lựa chọn đúng khung giờ học tập sẽ giúp việc học trở nên dễ dàng và hiệu quả hơn rất nhiều. Cũng như mỗi môn học đều sẽ có đặc điểm riêng. Trạng thái, tinh thần của chúng ta ở từng khung giờ khác nhau cũng sẽ có điểm khác biệt.</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="#">Tự tay trang trí bàn học với những mẹo hay hữu ích</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">July. 24, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_5.jpg');">
	              </a>
                <p>Một chiếc bàn học đẹp được xếp đặt ngay ngắn, gọn gàng vừa tạo sự thuận tiện cho người sử dụng, vừa là cách giúp bạn trẻ duy trì được nguồn cảm hứng học tập và làm việc. Hôm nay, hãy cùng Uptown khám phá những mẹo hay hữu ích mà bạn có thể ứng dụng để tự tay trang trí cho chiếc bàn học của mình nhé</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="#">Môi trường sống khác biệt kiến tạo nên cộng đồng cư dân ưu tú</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">July. 24, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_6.jpg');">
	              </a>
                <p>Tiên phong mang tới hình Student Housing đến với sinh viên và giới trẻ Việt Nam, Uptown không chỉ mong muốn cung cấp không gian sống tiện nghi mà còn đem lại phong cách sống hiện đại & khác biệt nhằm tạo dựng một cộng đồng cư dân ưu tú.

                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="#">Aesthetic - Phong cách thời trang & lối sống mới của gen Z</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">July. 24, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_7.jpg');">
	              </a>
                <p>Có lẽ bạn đã vài lần nhìn thấy hashtag aesthetic được gắn với những bộ hình xinh đẹp hoặc một xu hướng ăn mặc cụ thể. Vậy aesthetic là gì? Làm sao để tìm được phong cách aesthetic phù hợp với bản thân? Hãy cùng khám phá nhé!</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="#">Mẹo trang trí giúp khai thác không gian căn hộ mini</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">July. 24, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_8.jpg');">
	              </a>
                <p>Căn hộ mini được thiết kế như một studio với giường gác xép, đây là kiểu phòng ở quen thuộc đối với các bạn sinh viên. Tất nhiên, vì loại phòng này có diện tích khá khiêm tốn nên việc trang trí cần được ưu tiên làm sao để tận dụng được hết không gian, đẩy đủ, tiện nghi nhưng vẫn đem đến cảm giác thoáng và thoải mái.

                  Dưới đây là một số gợi ý giúp các bạn trẻ tận dụng được toàn bộ diện tích của căn hộ và làm đẹp cho không gian sống “nhỏ nhưng có võ” của mình</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div include-html="./footer.html"></div>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
  <script>includeHTML();</script>
    
  </body>
</html>